numpy<2.0.0
setproctitle
opencv-python
gdown
gpiozero
lgpio
git+https://github.com/inmcm/micropyGPS.git
-e ./pipelines

-e ./apps/dependencies/lora
-e ./apps/dependencies/gps
srtm.py
filterpy
folium
pandas